<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
    // <![CDATA[
    onload_functions.push('document.getElementById("<!-- IF S_ADMIN_AUTH -->{PASSWORD_CREDENTIAL}<!-- ELSE -->{USERNAME_CREDENTIAL}<!-- ENDIF -->").focus();');
    // ]]>
</script>

<form action="{S_LOGIN_ACTION}" method="post" id="login">
    <div class="row-fluid panel">
        <div class="well">
            <h3 class="box-heading"><!-- IF LOGIN_EXPLAIN -->{LOGIN_EXPLAIN}<!-- ELSE -->{L_LOGIN}<!-- ENDIF --></h3>
            <div class="content clearfix">
                <div class="offset4 span4">
                    <fieldset <!-- IF not S_CONFIRM_CODE -->class="fields1"<!-- ELSE -->class="fields2"<!-- ENDIF -->>
                    <!-- IF LOGIN_ERROR --><div class="alert alert-error"><a class="close" data-dismiss="alert" href="#">x</a>{LOGIN_ERROR}</div><!-- ENDIF -->
                    <div class="control-group">
                        <div>
                            <div class="controls">
                                <div class="input-prepend"><span class="add-on"><i class="icon-user"></i></span><input type="text" tabindex="1" name="{USERNAME_CREDENTIAL}" id="{USERNAME_CREDENTIAL}" size="25" value="{USERNAME}" class="inputbox autowidth" placeholder="{L_USERNAME}" /></div>
                            </div>
                            <div class="controls">
                                <div class="input-prepend"><span class="add-on"><i class="icon-key"></i></span><input type="password" tabindex="2" id="{PASSWORD_CREDENTIAL}" name="{PASSWORD_CREDENTIAL}" size="25" class="inputbox autowidth" placeholder="{L_PASSWORD}" /></div>
                            </div>
                            <div class="controls">
                                <!-- IF S_DISPLAY_FULL_LOGIN and (U_SEND_PASSWORD or U_RESEND_ACTIVATION) -->
                                <!-- IF U_SEND_PASSWORD --><a href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a><!-- ENDIF -->
                            </div>
                            <div class="controls">
                                <!-- IF U_RESEND_ACTIVATION --><a href="{U_RESEND_ACTIVATION}">{L_RESEND_ACTIVATION}</a><!-- ENDIF -->
                                <!-- ENDIF -->
                            </div>
                            <!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
                            <!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
                            <!-- INCLUDE {CAPTCHA_TEMPLATE} -->
                            <!-- ENDIF -->
                            <!-- IF S_DISPLAY_FULL_LOGIN -->
                            <div class="controls">
                                <!-- IF S_AUTOLOGIN_ENABLED --><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="4" /> {L_LOG_ME_IN}</label></dd><!-- ENDIF -->
                            </div>
                            <div class="controls">
                                <label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="5" /> {L_HIDE_ME}</label>
                            </div>
                        </div>
                    </div>
                    <!-- ENDIF -->

                    {S_LOGIN_REDIRECT}
                    <div>
                        {S_HIDDEN_FIELDS}<input type="submit" name="login" tabindex="6" value="{L_LOGIN}" class="btn btn-primary btn-block" />
                    </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>


    <!-- IF not S_ADMIN_AUTH and S_REGISTER_ENABLED -->
    <div class="row-fluid panel">
        <div class="well">
            <h3 class="box-heading">{L_REGISTER}</h3>
            <div class="content">

                <p>{L_LOGIN_INFO}</p>
                <p><strong><a href="{U_TERMS_USE}">{L_TERMS_USE}</a> | <a href="{U_PRIVACY}">{L_PRIVACY}</a></strong></p>

                <p><a href="{U_REGISTER}" class="btn btn-success">{L_REGISTER}</a></p>
            </div>

        </div>
    </div>
    <!-- ENDIF -->

</form>

<!-- INCLUDE overall_footer.html -->
