<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
// <![CDATA[
	/**
	* Change language
	*/
	function change_language(lang_iso)
	{
		document.forms['register'].change_lang.value = lang_iso;
		document.forms['register'].submit.click();
	}

	<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_REFRESH -->
	onload_functions.push('apply_onkeypress_event()');
	<!-- ENDIF -->

// ]]>
</script>

<form method="post" action="{S_UCP_ACTION}" id="register">

<div class="panel row-fluid">
	<div class="well inner">

	<h3 class="box-heading">{SITENAME} - {L_REGISTRATION}</h3>

	<fieldset class="form-horizontal">
	<!-- IF ERROR --><div class="alert alert-block alert-error">{ERROR}</div><!-- ENDIF -->
	<!-- IF L_REG_COND -->
		<dl><dd><strong>{L_REG_COND}</strong></dd></dl>
	<!-- ENDIF -->
	<div class="span6">
		<div class="control-group">
			<label class="control-label" for="username">{L_USERNAME}:</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on">
						<i class="icon-user"></i>
					</span>
					<input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="input-large" title="{L_USERNAME}" />
				</div>
				<span class="help-block">{L_USERNAME_EXPLAIN}</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email">{L_EMAIL_ADDRESS}:</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on">
						<i class="icon-envelope"></i>
					</span>
					<input type="text" tabindex="2" name="email" id="email" size="25" maxlength="100" value="{EMAIL}" class="input-large" title="{L_EMAIL_ADDRESS}" />
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email_confirm">{L_CONFIRM_EMAIL}:</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on">
						<i class="icon-envelope"></i>
					</span>
					<input type="text" tabindex="3" name="email_confirm" id="email_confirm" size="25" maxlength="100" value="{EMAIL_CONFIRM}" class="input-large" title="{L_CONFIRM_EMAIL}" />
				</div>
			</div>
	   </div>
		<div class="control-group">
			<label class="control-label" for="new_password">{L_PASSWORD}:</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on">
						<i class="icon-key"></i>
					</span>
					<input type="password" tabindex="4" name="new_password" id="new_password" size="25" value="{PASSWORD}" class="input-large" title="{L_NEW_PASSWORD}" />
				</div>
				<span class="help-block">{L_PASSWORD_EXPLAIN}</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password_confirm">{L_CONFIRM_PASSWORD}:</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on">
						<i class="icon-key"></i>
					</span>
					<input type="password" tabindex="5" name="password_confirm" id="password_confirm" size="25" value="{PASSWORD_CONFIRM}" class="input-large" title="{L_CONFIRM_PASSWORD}" />
				</div>
			</div>
		</div>
	</div>

	<div class="span6">
		<div class="control-group">
			<label class="control-label" for="lang">{L_LANGUAGE}:</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on">
						<i class="icon-flag"></i>
					</span>
					<select name="lang" id="lang" onchange="change_language(this.value); return false;" tabindex="6" title="{L_LANGUAGE}" class="input-xlarge">{S_LANG_OPTIONS}</select>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="tz">{L_TIMEZONE}:</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on">
						<i class="icon-time"></i>
					</span>
					<select name="tz" id="tz" tabindex="7" class="input-xlarge">{S_TZ_OPTIONS}</select>
				</div>
			</div>
		</div>
	</div>

	<!-- IF .profile_fields -->
		<dl><dd><strong>{L_ITEMS_REQUIRED}</strong></dd></dl>

	<!-- BEGIN profile_fields -->
		<dl>
			<dt><label<!-- IF profile_fields.FIELD_ID --> for="{profile_fields.FIELD_ID}"<!-- ENDIF -->>{profile_fields.LANG_NAME}:<!-- IF profile_fields.S_REQUIRED --> *<!-- ENDIF --></label>
			<!-- IF profile_fields.LANG_EXPLAIN --><br /><span>{profile_fields.LANG_EXPLAIN}</span><!-- ENDIF -->
			<!-- IF profile_fields.ERROR --><br /><span class="error">{profile_fields.ERROR}</span><!-- ENDIF --></dt>
			<dd>{profile_fields.FIELD}</dd>
		</dl>
	<!-- END profile_fields -->
	<!-- ENDIF -->

	</fieldset>
	<hr />
	<!-- IF CAPTCHA_TEMPLATE -->
	<!-- DEFINE $CAPTCHA_TAB_INDEX = 8 -->
	<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
<!-- ENDIF -->

	</div>
</div>


<!-- IF S_COPPA -->
<div class="panel row-fluid">
	<div class="inner well">

	<h3 class="box-heading">{L_COPPA_COMPLIANCE}</h3>

	<p>{L_COPPA_EXPLAIN}</p>
	</div>
</div>
<!-- ENDIF -->

<div class="panel">
	<div class="inner">

	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}
		<input type="reset" value="{L_RESET}" name="reset" class="btn" />&nbsp;
		<input type="submit" tabindex="9" name="submit" id="submit" value="{L_SUBMIT}" class="btn default-submit-action" />
		{S_FORM_TOKEN}
	</fieldset>

	</div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->
